.Buton {
    margin: 1px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: $primary-color;
    color: $segund-color;
    border: 1px solid $segund-color;
    border-radius: 10px;
    padding: 8px 15px;
    text-align: center;

    &:hover {
        cursor: pointer;
        color: $primary-color;
        background-color: $segund-color;
    }
}

.imagenes {
    filter: sepia(100%);

    &:hover {
        transition: 1s;
        filter: sepia(0%);
    }
}

.sombras {
    box-shadow: 10px 10px $segund-color;
    transition: 1s;
}

.iniciar {}